<!DOCTYPE html>
<html ng-app="DandyFeud">

<head>
	<title>Google Feud</title>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
	<script type="text/javascript" src="base.js" ></script>
	<script type="text/javascript">
		var app = angular.module("DandyFeud", []);
		app.controller("DandyFeudController", function($scope) {
			var theResults = [];
			var maskedKeyword = "~Answer";

			$scope.maskedResults = [];

			$scope.search = function(event) {
				var key = event.which || event.keyCode;
				if(key === 13) { //Enter keycode
					var searchPromise = Dandy.Feud.search($scope.searchTerm, 10);
					searchPromise.then(function(results) {
						$scope.$apply(function () {
							theResults = results;
							$scope.maskedResults = theResults.map(function(theResult, index) {
								return maskedKeyword + " " + (index + 1);
							});
						});
					});
				}
			};

			$scope.guess = function(event) {
				var key = event.which || event.keyCode;
				if(key === 13) { //Enter keycode
					var index = theResults.indexOf($scope.guessTerm.toLowerCase().trim());
					if (index >= 0) {
						$scope.maskedResults[index] = theResults[index];
					}

					// clear out guessing
					$scope.guessTerm = "";
				}
			};

			$scope.isGameStarted = function() {
				return theResults.length > 0;
			};

			$scope.reset = function() {
				theResults = [];
				$scope.maskedKeyword = [];
			};

			$scope.reveal = function() {
				$scope.maskedResults = theResults;
			};

			$scope.isMasked = function(term) {
				return term.indexOf(maskedKeyword) === 0;
			};
		});
	</script>

	<link rel="stylesheet" type="text/css" href="base.css">
</head>

<body>
	<div class="container">
		<div class="feudBoard" ng-controller="DandyFeudController">
			<p><input type="text" id="searchTerm" ng-model="searchTerm" ng-keypress="search($event)" placeholder="Enter search term ..." ng-disabled="isGameStarted()"></p>
			<div ng-show="isGameStarted()">
				<p><input type="text" id="guess" ng-model="guessTerm" ng-keypress="guess($event)" placeholder="Enter your guess ..."></p>
				<ul id="searchResults">
					<li ng-repeat="result in maskedResults" ng-class="{ 'masked' : isMasked(result) }">
						<span>{{result}}</span>
					</li>
				</ul>
				<div class="actions">
					<button type="button" id="revealButton" ng-click="reveal()">Reveal!</button>
					<button type="button" id="resetButton" ng-click="reset()">Play Again!</button>
				</div>
			<div>
		</div>
	</div>
</body>

</html>