* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  user-select: none;
}

html,
body {
  width: 100vw;
  height: 100vh;

  background-color: #000000;
}

.game {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.game .middle {
  display: grid;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.game .middle button {
  width: 40%;
  height: 70%;
}

.game .left,
.game .right {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 25% repeat(3, calc(50% / 3)) 25%;
  grid-template-columns: repeat(1, 1fr);
  padding: 1.5em;
}

.game .right .button-bar {
  width: 25%;
  height: 25%;
  align-self: flex-start;
  justify-self: flex-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.game .right .button-bar img {
  height: 50%;
  cursor: pointer;
}

.game .right .button-bar img:hover {
  filter: invert(32%) sepia(1%) saturate(1031%) hue-rotate(316deg)
    brightness(105%) contrast(94%);
}

.game .row {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  height: 100%;
}

.game .row#one {
  grid-template-columns: repeat(5, 1fr) repeat(2, 0.5fr);
}

.game .row#two {
  grid-template-columns: 0.5fr repeat(5, 1fr) 0.5fr;
}

.game .row#three {
  grid-template-columns: 1fr repeat(4, 1fr) repeat(2, 0.5fr);
}

.game .row#oneone {
  grid-template-columns: repeat(2, 0.5fr) repeat(5, 1fr);
}

.game .row#twotwo {
  grid-template-columns: repeat(3, 0.5fr) repeat(4, 1fr) 0.5fr;
}

.game .row#threethree {
  grid-template-columns: repeat(2, 0.5fr) repeat(3, 1fr) repeat(2, 1fr);
}

.game button img {
  width: 30%;
  height: 30%;
}

.game button {
  font-weight: bold;
  font-size: 2em;
  color: #ffffff;
  background-color: #818384;

  border: none;
  border-radius: 5px;
  margin: 2.5px;
  cursor: pointer;

  user-select: none;
}

.game button#enter {
  font-size: 1.5em;
}

.game button:hover {
  background-color: #6e7071;
}

.game button:active {
  background-color: rgb(114, 115, 117);
}

.grid {
  width: 35vw;
  height: 40vw;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.5em;
}

.square {
  position: relative;
  top: 0;
  left: 0;
  border: none;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  font-weight: bold;
}

.square.empty {
  border: 3px solid #3a3a3c;
}

.square.empty.letter {
  border: 3px solid #565758;
}

.yellow,
button.key.yellow {
  background-color: #b59f3b !important;
}

.square.yellow {
  border: 3px solid #b59f3b;
}

.c-yellow {
  color: #b59f3b;
}

.green,
button.key.green {
  background-color: #538d4e !important;
}

.square.green {
  border: 3px solid #538d4e;
}

.c-green {
  color: #538d4e;
}

.grey,
button.key.grey {
  background-color: #3a3a3c !important;
}

.square.grey {
  border: 3px solid #3a3a3c;
}

.c-grey {
  color: #3a3a3c;
}

.alert {
  position: absolute;
  z-index: 2;
  color: #000000;
  font-size: 1.2em;
  --width: 10vw;
  --height: 10vh;
  width: var(--width);
  height: var(--height);
  left: calc(50vw - var(--width) / 2);
  top: 25px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  animation: animate 0.15s 1 ease-in-out;
}

@keyframes animate {
  from {
    top: -100px;
  }

  to {
    top: 25px;
  }
}

.alert.fade {
  opacity: 0;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.stats,
.help {
  --width: 30vw;
  --height: 60vh;
  width: var(--width);
  height: var(--height);
  position: absolute;
  z-index: 3;
  top: calc(50vh - (var(--height) / 2));
  left: calc(50vw - (var(--width) / 2));
  background-color: #121213;
  color: white;

  display: none;
  padding: 1.5rem;

  border: none;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.stats {
  grid-template-rows: 0.1fr 1fr 3fr;
}

.stats .top-section,
.help .top-bit {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.stats .top-section #close,
.help .top-bit #close-help {
  cursor: pointer;
  justify-self: right;
}

.stats h3 {
  width: 100%;
  height: 100%;
  text-align: left;
  display: grid;
  align-items: center;
}

.stats .statistics {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  text-align: center;
}

.stats .statistics .stat {
  font-size: 2.4em;
}

.stats .statistics .title {
  font-size: smaller;
}

.stats .distribution {
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 5fr;
}

.stats .distribution .graph {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.stats .distribution .graph div {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 11fr;
}

.stats .distribution .graph div span {
  font-weight: bold;
}

.stats .distribution .graph div .dist {
  font-weight: bold;
  background-color: #3a3a3c;
  display: grid;
  place-items: center;
  width: 7.5%;
  height: 70%;
  grid-template-columns: 1fr;
}

.stats #close:hover,
.help #close-help:hover {
  filter: invert(32%) sepia(1%) saturate(1031%) hue-rotate(316deg)
    brightness(105%) contrast(94%);
}

.overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(0 0 0 / 0.2);
}

.blur {
  filter: blur(8px);
}

.help {
  position: absolute;

  --height: 80vh;
  height: var(--height);
  top: calc(50vh - (var(--height) / 2));
  grid-template-rows: 0.5fr 2fr 2fr;
}

.help > div {
  padding: 1rem;
  font-size: 1.2rem;
}

.help div ul {
  padding-left: calc(1rem * 1.5);
}

.help .examples {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr repeat(3, 3fr);
  gap: 10px;
}

.help .example {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2px;
}

.help .example .square {
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

.help .title {
  width: 100%;
}

.help .example span.details {
  font-size: smaller;
}

/* @keyframes add-letter {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
} */

.zoom {
  transition: transform 0.1s;
  transform: scale(1.2);
}

.nozoom {
  transform: scale(1);
}

.reveal1 {
  transition: transform 0.2s;
  transform: scaleY(0);
}

.reveal2 {
  transition: transform 0.2s;
  transform: scaleY(1);
}

.jump1 {
  transition: top ease 0.1s;
  top: -30px;
}

.jump2 {
  transition: top ease 0.1s;
  top: 0px;
}

.shake {
  animation: shaking 0.1s 1 ease-in-out;
}

@keyframes shaking {
  0% {
    left: 0px;
  }

  25% {
    left: -10px;
  }

  50% {
    left: 0px;
  }

  75% {
    left: 10px;
  }

  100% {
    left: 0px;
  }
}
