* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
	font-family: monospace;
}

body {
  width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background: #000000;
}

.dashboard {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  padding: 1.3rem;
  border: 1px solid white;
}

.dashboard div {
  background-color: #10ff10;

  padding: 1.25rem;
  margin: 1.15rem;
}

.leaderboard table, th, td {
	/*border: 1px solid white;*/
	padding: 1.1rem;
	text-align: center;
}

.leaderboard table tr {
    border-bottom: 1px solid black;
}

.leaderboard table tr:last-child {
    border-top: 1px solid black;
    border-bottom: none;
}

.leaderboard table th:nth-child(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.leaderboard table {
	border-width: 1.5rem;
	padding: 0;
	width: 100%;
    height: 75%;
    border-collapse: collapse;
}

.leaderboard table tr td button, .leaderboard table tr td button img {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

